<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>watchedepisodes.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>searchSeries</servlet-name>
		<servlet-class>watchedepisodes.servlets.SearchSeries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchSeries</servlet-name>
		<url-pattern>/searchSeries</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getSeries</servlet-name>
		<servlet-class>watchedepisodes.servlets.GetSeries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getSeries</servlet-name>
		<url-pattern>/getSeries</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checktvdb</servlet-name>
		<servlet-class>watchedepisodes.servlets.CheckTVDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checktvdb</servlet-name>
		<url-pattern>/admin/checktvdb</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
